# Django
DEBUG=
SECRET_KEY=

# Azure Storage
AZURE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=

# Azure Document Intelligence (OCR)
AZURE_DOC_ENDPOINT=
AZURE_DOC_KEY=

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=

# Azure AD Configuration
AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""

# Kantata Configuration
KANTATA_USERNAME=
KANTATA_PASSWORD=
KANTATA_CLIENT_ID=
KANTATA_CLIENT_SECRET=
KANTATA_PRIVATE_KEY_PATH=
KANTATA_CURRENT_USER_EMAIL=
KANTATA_RESOURCE_NAME=

# Salesforce Configuration
SALESFORCE_JWT_AUD=
TARGET_URL=
SALESFORCE_TOKEN_ENDPOINT=
TOKEN_URL=

# Postgre SQL Database
DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432