# Virtual environment
venv/

# Environment variables
.env

# Django migrations
**/migrations/

# Database
*.sqlite3

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

migrations/
staticfiles/
static/
